.centered-text p {
    text-align: center;
    font-size: 0.65rem;
    margin: 5px;
}

.left-aligned p {
    text-align: center;
}

footer {
    padding: 12px 2px;
}
.logo-footer .logo svg{
float: left;
}