<div cdkLayout="row" *ngIf="this.appSettings.isMobile" cdkLayoutAlign="space-between center" style="width: 100%; padding: 0 2.3rem; height: 4rem; background-color: #F0EFEF;">
    <span style="font-size: 0.9375rem; font-weight: 700; color: #5C5B5B">ما را دنبال کنید</span>
    <app-social-icons [iconSize]="'md'" [iconColor]="'primary'" cdkLayout="row" cdkLayoutAlign="center center"></app-social-icons>
    
</div>
<footer>

    <div class="px-3">
        <div class="theme-container">
            <div cdkLayout="row" cdkLayout.xs="column" cdkLayoutAlign="space-between center" class="copyright">
                
                
                <div cdkFlex="auto" cdkFlex.gt-sm="auto" cdkFlex.sm="auto">
                    <a class="logo " routerLink="/">
                        <app-logo class="logo-footer"></app-logo>
                    </a>
                </div>
                <div cdkFlex="100" cdkFlex.gt-sm="100" cdkFlex.sm="100" class="centered-text">
                    <p ngClass.xs="mt-1" style="direction: ltr;">Copyright © {{currentYear()}} تمامی حقوق این وب‌سایت محفوظ
                        می‌باشد</p>
                    <p>طراحی و توسعه از <span style="font-weight: 600;">گروه خشتین</span></p>
                </div>
                <div cdkFlex="auto" cdkFlex.gt-sm="auto" cdkFlex.sm="auto" ngClass.xs="pt-5" class="left-aligned" style="direction: ltr;">
                    <app-social-icons cdkLayout="row" cdkLayoutAlign="start center" fxShow="false" fxShow.gt-md  ></app-social-icons>
                    <p cdkLayout="row" cdkLayoutAlign="start center" class="mt-1">
                        <!-- <mat-icon>outgoing_mail</mat-icon> -->
                        <span  style="direction: ltr;">kheshtinco&#64;gmail.com</span>
                    </p>

                    <p cdkLayout="row" cdkLayoutAlign="start center" class="mt-1">
                        <!-- <mat-icon>dialpad</mat-icon> -->
                        <span  style="direction: ltr;">(+98) 123 123 1234</span>
                    </p>

                </div>
            </div>

        </div>
    </div>

</footer>