
<form [formGroup]="thirdFormGroup" cdkLayout="column">
  <div cdkFlex="100" class="p-3">
    <h1 class="fw-500 text-center">مرحله سوم</h1>
  </div>
  <div cdkLayout="row" cdkLayoutAlign="space-between center">
    <mat-chip-listbox aria-label="Product selection">
      <mat-chip *ngFor="let product of selectedProducts"
      [removable]="removable"
      (removed)="remove(product)"
      >{{product.name}}<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon></mat-chip>
    </mat-chip-listbox>
  </div>
  <mat-divider></mat-divider>
  <div cdkLayout="row" cdkLayoutAlign="space-between center">
    <button mat-raised-button (click)="openDialog()">انتخاب محصول</button>
    <input type="text" style="display: none" name="productList" [(ngModel)]="listOfProducts" formControlName="productList" required>
  </div>
    
    
    <div cdkFlex="100" class="mt-3 p-2" cdkLayoutAlign="space-between center">
      <button mat-raised-button color="primary" matStepperPrevious cdkLayout="row" cdkLayoutAlign="center center" type="button">
        <mat-icon>navigate_next</mat-icon>
        <span class="mx-1 uppercase">قبلی</span>  
      </button>
      <button mat-raised-button color="primary" matStepperNext cdkLayout="row" cdkLayoutAlign="center center" type="button" (click)="addDataToProject()">
        <span class="mx-1 uppercase">بعدی</span>                    
        <mat-icon>navigate_before</mat-icon>
      </button> 
    </div> 
</form>
