<form [formGroup]="verticalForm" class="search-wrapper" [ngClass]="'variant-'+variant" >

  <div [cdkLayout]="(vertical) ? 'column' : 'row wrap'"> 
      <div cdkFlex="100" cdkFlex.gt-sm="22" cdkFlex.sm="50" class="p-2" style="width: 100%">
          <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" style="width: 100%">
              <mat-label>جستجو</mat-label>
              <input matInput placeholder="عنوان دفتر طراحی" autocomplete="off" formControlName="searchBox">                  
          </mat-form-field>
      </div>
      
      
      
      
     
  </div>
  
</form>
