.recent-products {

    background-color: #ece6df;

    

}



// .product-search-box {

//     margin-left: 1.562rem;

//     margin-right: 1.562rem;

// }

.carousel-padding {

    padding-top:0.75rem;

}

.product-wrapper-padding {

    padding-left: 0.938rem;

    padding-right: 0.938rem;

}
