.testimonials-carousel{    

    .swiper-container{

        padding-bottom: 3.125rem;

        .content{

            max-width: 40.625rem;

            margin: 0 auto; 

            img{

                border-radius: 50%;

                width: 8.75rem;

                height: 8.75rem;

            }

            .quote{

                font-size: 3.125rem; 

                line-height: 0.875rem; 

                &.open{

                    margin-top: 1.5rem;

                }

                &.close{

                    margin-bottom: 1.5rem;

                }           

            }

            .text{ 

                font-weight: 500; 

            }

            .author{

                text-transform: uppercase;

            }

        }

    }

}
