<div class="chart-wrapper">
    <ul class="chart-values" *ngIf=" headerData &&  headerData.length > 0">
        <li #yearElement *ngFor="let year of headerData" style="list-style-type: none;">{{year.year}}
            <ul class="chart-values" >
                <li #monthElement *ngFor="let month of year.months" style="list-style-type: none;" title="{{year.year + '-' + month.month.id.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) }}">{{month.month.name}}
                    <ul class="chart-values" >
                        <li #headerDayElement  *ngFor="let day of month.days" style=" width: 30px;list-style-type: none;" title="{{year.year + '-' + month.month.id.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) + '-' + day.day}}">{{getDay(year.year + '-' + month.month.id.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) + '-' + day.day)}}</li>
                       
                      </ul>
                </li>
               
              </ul>
        </li>
       
      </ul>
    
<!--       
    <ul class="chart-values" >
      <li #dayElement *ngFor="let day of days" style="list-style-type: none;">{{day.date}}</li>
      
    </ul>-->
    <ul class="chart-bars" id="eventList">
      <li *ngFor="let time of events" [ngStyle]="setEventStyle(time)" [innerHtml]= "time.details" ></li>
      
    </ul> 
  </div>
