<form [formGroup]="verticalForm" class="search-wrapper" [ngClass]="'variant-'+variant" >

  <div [cdkLayout]="(vertical) ? 'column' : 'row wrap'"> 
      <div cdkFlex="100" cdkFlex.gt-sm="22" cdkFlex.sm="50" class="p-2" style="width: 100%">
          <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" style="width: 100%">
              <mat-label>جستجو</mat-label>
              <input matInput placeholder="عنوان برند" autocomplete="off" formControlName="searchBox">                  
          </mat-form-field>
      </div>
      <div cdkFlex="100" cdkFlex.gt-sm="22" cdkFlex.sm="50" class="p-2 sidebar-categories-tree-filter-box" style="width: 100%">
        <app-categories *ngIf="vertical" (categories)="getCategories($event)" (CategoryChange)="categoryChanged($event)" [selectedIdList]="" name="categoriesBoxNested" formControlName="categoriesBoxNested"></app-categories>
      </div>
      
      
      
     
  </div>
  
</form>
