<div cdkLayout="row wrap" class="properties-wrapper mt-0" *ngIf="designOffice">            
                 
  <!-- <div cdkFlex="100" class="px-2 pb-2 pt-0">                
      <app-properties-toolbar (ChangeCount)="changeCount($event)"
                              (ChangeSorting)="changeSorting($event)"
                              (ChangeViewType)="changeViewType($event)">
      </app-properties-toolbar>
  </div> -->
 
  <div cdkFlex="100" cdkLayoutAlign="start start" class="p-2"> 
      <mat-chip-listbox [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
          <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
              {{ searchFields.pageQuery.totalItems}} عدد
          </mat-chip> 
      </mat-chip-listbox>          
  </div>

  <div *ngFor="let coll of designOfficeVideos" [cdkFlex]="(viewType=='grid') ? viewCol : 100"  class="item">                         
      <app-design-office-video-item [designOffice]="designOffice" [designOfficeVideo]="coll" [viewType]="viewType" [viewColChanged]="viewCol" [fullWidthPage]="false"></app-design-office-video-item>
  </div>

  <div  cdkFlex="100" cdkLayoutAlign="center center" [style.min-height.px]="200">                
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <mat-chip-listbox *ngIf="searchFields.pageQuery.totalItems === 0">
          <mat-chip selected disableRipple="true" color="warn" class="uppercase ws-nowrap">
              {{message}}
          </mat-chip> 
      </mat-chip-listbox> 
  </div>            

  <div  cdkFlex="100" cdkLayoutAlign="center center" class="p-2">
    <mat-card style="width: 100%">
        <app-pagination
        #pagination
        [collectionSize]="searchFields.pageQuery.totalItems"
        [pageSize]="12"
        [firstLastButtons]="true"
        [maxSize]="2"
        (PageChange)="onPageChange($event)"
      ></app-pagination>
      </mat-card>
  </div>          

</div>