.get-in-touch{

    position: relative;

    margin-top: 5.0rem;

    img{

        max-width: 12.5rem; 

        position: absolute; 

        bottom: 0;

    }

    .content{

        padding-left: 12.5rem;

    }

}
