<button class="open-button" *ngIf="textureExists" (click)="openTextureShowRoom()">
    <mat-icon>format_paint</mat-icon>
    <span>ویرایش تکسچر</span>
</button>
<div class="px-3">     
  <div class="theme-container"> 
  
      <mat-sidenav-container class="single-property mt-3">
          <mat-sidenav #sidenav  opened="true" mode="side" position="end" autoFocus="false">
              
              <div  #stickyCard > 

                  <div class="widget "> 
                      <mat-card class="mat-elevation-z0 brand-background" *ngIf="product?.brandCollection.contentItems[0].brand.contentItems[0].ovalImage.urls[0]">
                          <img mat-card-image class="brand-image-size" src="https://orchard.kheshtin.ir{{product?.brandCollection.contentItems[0].brand.contentItems[0].ovalImage.urls[0] }}" [alt]="product?.brandCollection.contentItems[0].brand.contentItems[0].displayText"> 
                          <mat-card-content>
                            <h2 class="fw-600"><a style="text-decoration: none; color: black;" [routerLink]="['/brands', product?.brandCollection.contentItems[0].brand.contentItems[0].contentItemId, product?.brandCollection.contentItems[0].brand.contentItems[0].displayText]">{{product.brandCollection.contentItems[0].brand.contentItems[0].displayText}}</a></h2>
                              <app-rating [ratingsCount]="product?.brandCollection.contentItems[0].brand.contentItems[0].ratingsCount" [ratingsValue]="product?.brandCollection.contentItems[0].brand.contentItems[0].ratingsValue"></app-rating>
                              <!-- <p class="mt-3 p-ellipsis">{{(brand | async)?.history}}</p>-->
                              <p fxLayoutAlign="start center"><span class="mx-2"><a href="{{product?.brandCollection.contentItems[0].brand.contentItems[0].webSiteUrl.url}}" >{{product?.brandCollection.contentItems[0].brand.contentItems[0].webSiteUrl.text}}</a></span></p>
                              <!-- <p fxLayoutAlign="start center"><mat-icon color="primary">email</mat-icon><span class="mx-2">{{(brand | async)?.email}}</span></p>
                              <p fxLayoutAlign="start center"><mat-icon color="primary">call</mat-icon><span class="mx-2">{{(brand | async)?.phoneNumber}}</span></p> -->
                              
                          </mat-card-content>
                          <mat-divider></mat-divider>
                          <mat-card-actions fxLayoutAlign="space-between center">
                              <div fxFlex="50" fxLayoutAlign="center center">
                                  <a fxFlex="95" mat-raised-button class="uppercase brand-interaction-button" (click)="openDataRequestDialog()">درخواست  قیمت</a>
                              </div>
                              <div fxFlex="50" fxLayoutAlign="center center">
                                <a fxFlex="95" mat-raised-button class="uppercase brand-interaction-button" (click)="openContactDialog()"> اطلاعات تماس</a>
                            </div>
                          </mat-card-actions>                              
                      </mat-card>
                  </div> 
                </div>
          </mat-sidenav>
          <mat-sidenav-content ngClass.gt-sm="distance" class="side-nav-padding">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">             
                  <div fxLayout="row" fxLayoutAlign="start center" >
                    <div class="address mb-0" style="color: #7d7d7d;">
                        <span>{{(getCategoriesNames())}}</span>
                    </div>
                    <span style="padding: 0 7px; color: #7d7d7d; font-weight: 100; font-size: 1.2rem; opacity: 0.6;">|</span>
                    
                    <h2 class="uppercase" ngClass.xs="text-center" style="margin-top: -5px;">
                        {{product?.displayText}}
                    </h2>

                    <div *ngIf="product?.productionCode" class="address mb-0" style="padding: 0 5px; font-weight: 200;">
                        <!-- <span>&gt;</span> -->
                        <span>(کد {{product?.productionCode}})</span>
                    </div>
                    
                  </div>
                  <!-- <div *ngIf="product" class="control-icons favbtn-top-margin" >
                    <button mat-button [disabled]="onFavorites()" (click)="addToFavorites()" style="float:left;" class="tooltip">
                      <span class="tooltiptext">پسندیدن</span>
                        <mat-icon class="">favorite_border</mat-icon>
                    </button>
                    <button mat-button [disabled]="onCompare()" (click)="addToCompare()" style="float:left;" class="tooltip" >
                      <span class="tooltiptext">مقایسه</span>
                        <mat-icon class="">compare_arrows</mat-icon>
                    </button>  
                </div>  -->
                  <!-- <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                      <mat-icon>more_vert</mat-icon>
                  </button>                                   -->
                </div>

              <div class="mt-3 main-carousel-container">
                  <div class="main-carousel mb-3"> 
                        
                      <swiper-container id="main-carousel"  (indexChange)="onIndexChange($event)"> 
                          <div class="swiper-wrapper">      
                              <swiper-slide *ngFor="let image of product?.imageList.contentItems" >
                                  <img src="https://orchard.kheshtin.ir{{image.image.urls[0]}} " class="swiper-lazy">
                                  <div class="swiper-lazy-preloader"></div>          
                              </swiper-slide>
                          </div>                      
                          <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                          <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
                      </swiper-container>
                  </div>
                  <div class="small-carousel">   
                      <swiper-container id="small-carousel" > 
                          <div class="swiper-wrapper">      
                              <swiper-slide *ngFor="let image of product?.imageList.contentItems ; let i=index;"  [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                  <img src="https://orchard.kheshtin.ir{{ image.image.urls[0] }}" class="swiper-lazy mw-100 small-carousel-image" (click)="selectImage(i)">
                                  <div class="swiper-lazy-preloader"></div>  
                              </swiper-slide>
                          </div>  
                      </swiper-container>
                  </div>
                </div> 
              
              
              
              <div class="mt-3"> 
                <div class="header-margin">
                    <h2 class="uppercase" ngClass.xs="text-center">{{product?.name}}</h2>
                    <p *ngIf="product?.productionCode" fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
                        <span>{{product?.productionCode}}</span>
                        </p>
                    <p fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
                        <span>{{(getCategoriesNames() )}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">مناسب برای 
                        {{(getProductUsage())}}
                    </p>
                   
                </div>
                
                  <div>
                      <p>{{product?.description}}</p>
                     
                      <!-- <div class="glb-container" #container></div> -->
                  </div>
                  <!-- <div>
                    <stl-model-viewer [meshOptions]="[{position: {x: 0, y: 0, z: 0}}]" [stlModels]="[stlModelPath]"></stl-model-viewer>
                  </div> -->
                </div> 
              <div class="mt-3"> 
                  <div fxLayoutAlign="center center"> 
                      <div class="uppercase"></div> 
                  </div>
                  <div>
                      <mat-accordion class="mat-elevation-z0 ">
                        <mat-expansion-panel class="mat-elevation-z0" [expanded]="true" *ngIf="(product?.productFile.contentItems | fileType: 14) && (product?.productFile.contentItems | fileType: 14).length > 0">
                            <mat-expansion-panel-header>  
                                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                    <div class="fw-500">نمای سه بعدی</div>
                                    <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                    </div>
                                </mat-panel-title> 
                            </mat-expansion-panel-header>
                            <model-viewer
                            [src]="stlModelPath"
                            style="width:100%; height:600px;"

                            auto-rotate
                            camera-controls></model-viewer>
                        </mat-expansion-panel>
                          <mat-expansion-panel class="mat-elevation-z0" [expanded]="false" *ngIf="(product?.productFile.contentItems | fileType: 4: 5: 6: 13) && (product?.productFile.contentItems | fileType: 4: 5: 6: 13).length > 0">
                              <mat-expansion-panel-header>  
                                  <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                      <div class="fw-500">مدلهای سه بعدی</div>
                                      <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                      </div>
                                  </mat-panel-title> 
                              </mat-expansion-panel-header>
                              <div class="small-carousel">   
                                <div id="small-carousel" class="swiper-container" [swiper]="config2"> 
                                    <div class="swiper-wrapper">      
                                        <div *ngFor="let image of (product?.productFile.contentItems | fileType: 4: 5: 6: 13); let i=index;" class="swiper-slide" [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                            <div >
                                                <img  src="https://orchard.kheshtin.ir{{ image.productFileImage.urls[0] }}" class="swiper-lazy mw-100" (click)="openThreeDModelObjectDialog(image, i)">
                                            <span >{{image.name}}</span>
                                            <div class="swiper-lazy-preloader"></div>  
                                            
                                        </div>
                                                     
                                        </div>
                                    </div>  
                                </div>
                            </div>
                          </mat-expansion-panel> 
                          <mat-divider *ngIf="(product?.productFile.contentItems | fileType: 2: 3) && (product?.productFile.contentItems | fileType:2: 3).length > 0"  class="devider-margin"></mat-divider>
                          <mat-expansion-panel class="mat-elevation-z0"  *ngIf="(product?.productFile.contentItems | fileType: 2: 3) && (product?.productFile.contentItems | fileType: 2: 3).length > 0">
                            <mat-expansion-panel-header>  
                                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                    <div class="fw-500">تکسچر و متریال</div>
                                    <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                    </div>
                                </mat-panel-title> 
                            </mat-expansion-panel-header>
                          <div class="small-carousel">   
                              <div id="small-carousel" class="swiper-container" [swiper]="config2"> 
                                  <div class="swiper-wrapper">      
                                      <div *ngFor="let image of textureProductsFiles.contentItems; let i=index;" class="swiper-slide" [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                          <img src="https://orchard.kheshtin.ir{{ image.productFileImage.urls[0] }}" class="swiper-lazy mw-100 small-carousel-image" (click)="openProductImageDialog(image, i)">
                                          <p>{{image.name}}</p>
                                          <div class="swiper-lazy-preloader"></div>  
                                                  
                                      </div>
                                  </div>  
                              </div>
                          </div>
                        </mat-expansion-panel> 
                        <mat-divider *ngIf="(product?.productFile.contentItems | fileType: 7) && (product?.productFile.contentItems | fileType: 7).length > 0" class="devider-margin"></mat-divider>
                          <mat-expansion-panel class="mat-elevation-z0" *ngIf="(product?.productFile.contentItems | fileType: 7) && (product?.productFile.contentItems | fileType: 7).length > 0">
                            <mat-expansion-panel-header>  
                                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                    <div class="fw-500">کاتالوگ‌ها</div>
                                    <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                        <!-- <span>Area: <span class="fw-500">{{plan.area.value}} {{plan.area.unit}}</span></span>
                                        <span class="mx-3">Rooms: <span class="fw-500">{{plan.rooms}}</span></span>
                                        <span>Baths: <span class="fw-500">{{plan.baths}}</span></span>    -->
                                    </div>
                                </mat-panel-title> 
                            </mat-expansion-panel-header>                                  
                            <app-product-files [productFile]="product?.productFile.contentItems | fileType: 7"></app-product-files>
                        </mat-expansion-panel> 
                        <mat-divider *ngIf="(product?.productFile.contentItems | fileType: 8) && (product?.productFile.contentItems | fileType: 8).length > 0" class="devider-margin"></mat-divider>
                        <mat-expansion-panel class="mat-elevation-z0" *ngIf="(product?.productFile.contentItems | fileType: 8) && (product?.productFile.contentItems | fileType: 8).length > 0">
                            <mat-expansion-panel-header>  
                                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                    <div class="fw-500">ابعاد</div>
                                    <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                        <!-- <span>Area: <span class="fw-500">{{plan.area.value}} {{plan.area.unit}}</span></span>
                                        <span class="mx-3">Rooms: <span class="fw-500">{{plan.rooms}}</span></span>
                                        <span>Baths: <span class="fw-500">{{plan.baths}}</span></span>    -->
                                    </div>
                                </mat-panel-title> 
                            </mat-expansion-panel-header> 
                            <div>
                                <img src="https://orchard.kheshtin.ir{{ (product?.productFile.contentItems | fileType: 8)[0].productId + '_8_-1_' + (product?.productFile.contentItems | fileType: 8)[0].productFileId }}" >
                            </div>                                 
                            <!-- <app-product-files [productFile]="product?.productFile | fileType: 8"></app-product-files> -->
                        </mat-expansion-panel> 
                        <mat-divider *ngIf="(product?.productFile.contentItems | fileType: 10) && (product?.productFile.contentItems | fileType: 10).length > 0" class="devider-margin"></mat-divider>
                        <mat-expansion-panel class="mat-elevation-z0"  *ngIf="(product?.productFile.contentItems | fileType: 10) && (product?.productFile.contentItems | fileType: 10).length > 0">
                            <mat-expansion-panel-header>  
                                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                    <div class="fw-500">جزییات اجرایی</div>
                                    <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                        <!-- <span>Area: <span class="fw-500">{{plan.area.value}} {{plan.area.unit}}</span></span>
                                        <span class="mx-3">Rooms: <span class="fw-500">{{plan.rooms}}</span></span>
                                        <span>Baths: <span class="fw-500">{{plan.baths}}</span></span>    -->
                                    </div>
                                </mat-panel-title> 
                            </mat-expansion-panel-header> 
                           
                          <div class="small-carousel">   
                              <div id="small-carousel" class="swiper-container" [swiper]="config2"> 
                                  <div class="swiper-wrapper">      
                                      <div *ngFor="let image of product?.productFile.contentItems | fileType: 10; let i=index;" class="swiper-slide" [ngClass]="'thumb-'+i" [class.active-thumb]="i == 0">
                                          <img src="https://orchard.kheshtin.ir{{ image.productFileImage.urls[0] }}" class="swiper-lazy mw-100 medium-carousel-image" (click)="selectImage(i)">
                                          <div class="swiper-lazy-preloader"></div> 
                                        <div class="control-icons" *ngIf="authService.loggedIn()">
                                            <a *ngIf="image.fileType === 10" mat-button  matTooltip="جزئیات اجرایی" href="https://orchard.kheshtin.ir{{image.productId + '_10_-1_' + image.productFileId + '_0.rar'}}">
                                                <mat-icon class="mat-icon-sm">get_app</mat-icon>
                                            </a>                                            
                                        </div>                 
                                      </div>
                                  </div>  
                              </div>
                          </div>
                        </mat-expansion-panel> 
                        <mat-divider *ngIf="(product?.productFile.contentItems | fileType: 9) && (product?.productFile.contentItems | fileType: 9).length > 0" class="devider-margin"></mat-divider>
                        <mat-expansion-panel class="mat-elevation-z0" *ngIf="(product?.productFile.contentItems | fileType: 9) && (product?.productFile.contentItems | fileType: 9).length > 0">
                            <mat-expansion-panel-header>  
                                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                    <div class="fw-500">ویدئو ها</div>
                                    <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                        <!-- <span>Area: <span class="fw-500">{{plan.area.value}} {{plan.area.unit}}</span></span>
                                        <span class="mx-3">Rooms: <span class="fw-500">{{plan.rooms}}</span></span>
                                        <span>Baths: <span class="fw-500">{{plan.baths}}</span></span>    -->
                                    </div>
                                </mat-panel-title> 
                            </mat-expansion-panel-header>                                  
                            <!-- <mat-video *ngFor="let video of product?.productFile | fileType: 9; let i=index;" [src]="video.file" [title]="video.name" [download]="false" [keyboard]="false"></mat-video> -->
                            <iframe *ngFor="let video of product?.productFile.contentItems | fileType: 9; let i=index;" [src]='video.file | safeHtml' frameborder="0" allowfullscreen></iframe>

                        <!-- <div class="mt-5">
                            <h3 class="text-center fw-500">{{video.name}}</h3>
                            <div [innerHtml]="embedVideo" class="videoWrapper"></div>                                    
                        </div> -->
                        </mat-expansion-panel> 
                        <!-- <mat-expansion-panel >
                            <mat-expansion-panel-header>  
                                <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
                                    <div class="fw-500">مشخصه ها</div>
                                    <div fxShow="false" fxShow.gt-xs="true" class="text-muted">
                                        
                                    </div>
                                </mat-panel-title> 
                            </mat-expansion-panel-header>                                  
                            <app-product-files [productFile]="product?.productFile | fileType: [4]"></app-product-files>
                        </mat-expansion-panel>  -->
                      </mat-accordion> 
                      <mat-divider   class="devider-margin"></mat-divider>
                      <br/>
                      <mat-chip-listbox  aria-label="Fruit selection" >
                        <mat-chip *ngFor="let tag of product?.productKeywordList" (click)="tagClick(tag)" [selectable]="true"
                                 >
                          {{tag.keyword}}
                          
                        </mat-chip>
                        
                      </mat-chip-listbox>                        
                    </div>
                </div> 

              <!-- <app-comments *ngIf="product" [propertyId]="product?.productId"></app-comments>   -->

          </mat-sidenav-content>
      </mat-sidenav-container>

  </div>
</div>

<div class="section mt-3" #delimiter *ngIf="relatedProducts?.length > 0">
  <div class="px-3">
      <div class="theme-container"> 
          <h1 class="section-title">محصولات مشابه در این گروه</h1>            
          <app-similar-products-carousel [products]="(relatedProducts )"></app-similar-products-carousel>                        
      </div>
  </div>   
</div> 
<div class="section mt-3" *ngIf="relatedOfficeProjects?.length > 0">
    <div class="px-3">
        <div class="theme-container"> 
            <h1 class="section-title">پروژه‌های مربوطه</h1>            
            <app-related-office-projects-carousel [officeProjects]="(relatedOfficeProjects )"></app-related-office-projects-carousel>                        
        </div>
    </div>   
  </div> 

