@use '@angular/material' as mat;
@include mat.core();


$custom-typography: mat.m2-define-typography-level(
  $font-family: 'Vazir FD',
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);


@import 'theme-reset';



.app{

    &.green{

        @import "skins/green";

        @include mat.all-component-themes($green-theme);

        @include theme-reset($green-theme);

    }

    

}
