@use '@angular/material' as mat;
@use "sass:map";

@include mat.core();
@mixin theme-reset($theme) {

    $primary: map.get($theme, primary);

    $accent: map.get($theme, accent);

    $warn: map.get($theme, warn);

    $background: map.get($theme, background);

    $foreground: map.get($theme, foreground);



    .bg-primary {
        background-color: mat.m2-get-color-from-palette($primary);
        color: mat.m2-get-color-from-palette($primary, default-contrast);

    }

    .bg-accent {
        background-color: mat.m2-get-color-from-palette($accent);
        color: mat.m2-get-color-from-palette($accent, default-contrast);

    }

    .bg-warn {
        background-color: mat.m2-get-color-from-palette($warn);
        color: mat.m2-get-color-from-palette($warn, default-contrast);

    }



    .text-muted {

        color: mat.m2-get-color-from-palette($foreground, secondary-text) !important;

    }

    .primary-color{

        color: mat.m2-get-color-from-palette($primary);

    }

    .secondary-color{

        color: mat.m2-get-color-from-palette($primary, 100);

    }

    .v-divider{

        background-color: mat.m2-get-color-from-palette($foreground, divider);

    }

    .divider{

        border-top: 0.062rem solid mat.m2-get-color-from-palette($foreground, divider);

    }



    .top-toolbar.mat-toolbar .v-divider{

        background-color: mat.m2-get-color-from-palette($primary, lighter, 0.2);

    }

    .border-bottom-lighter{

        border-bottom: 0.062rem solid mat.m2-get-color-from-palette($primary, lighter, 0.2);

    }

    .border-lighter{

        border-color: mat.m2-get-color-from-palette($primary, lighter, 0.2);

    }

    .border-accent{

        border-color: mat.m2-get-color-from-palette($accent);        

    }



    #top-toolbar{
        background-color: mat.m2-get-color-from-palette($primary);
        color: mat.m2-get-color-from-palette($primary, default-contrast);

    }

    .toolbar-2 #top-toolbar{

        background-color: mat.m2-get-color-from-palette($background, card);

        color: mat.m2-get-color-from-palette($foreground, text);

    }

    .search-background {

        background-color: #d7f0e7;

    }

    #main-toolbar{

        background: mat.m2-get-color-from-palette($background, card);

    }

    .toolbar-2 #main-toolbar{
        background-color: mat.m2-get-color-from-palette($primary);
        color: mat.m2-get-color-from-palette($primary, default-contrast);

    }

    header{

        .logo svg{

            fill: mat.m2-get-color-from-palette($primary);

        } 

        &.toolbar-1{        

            &.has-bg-image:not(.main-toolbar-fixed){

                .logo svg{

                    fill: #fff;

                }

                .horizontal-menu{

                    .mat-button{

                        color:#fff;

                        &.horizontal-active-link{

                            background: rgba(mat.m2-get-color-from-palette($primary), 0.38);

                        }                       

                    }

                }                

                .mat-icon{
                    font-size:  1.125rem;
                    color:#fff;

                }

            } 

        }

        &.toolbar-2{

            .horizontal-menu{

                .mat-button{

                    color:#fff;

                    &.horizontal-active-link{

                        color:#fff;

                    }                       

                }

            }

            &.has-bg-image:not(.main-toolbar-fixed){

                .horizontal-menu{

                    .mat-button{

                        &.horizontal-active-link{

                            background: rgba(mat.m2-get-color-from-palette($primary), 0.38);

                        }                       

                    }

                }

            }  

            

        }      

    }



    .header-carousel .slide-info .mat-card{

        background: rgba(mat.m2-get-color-from-palette($background, card), 0.85);

        &:hover{

            background: mat.m2-get-color-from-palette($background, card);

        }

    }

    

    .user-menu .user-info {

        color: mat.m2-get-color-from-palette($foreground, text);

    }



    main.content-offset-to-top{

        .main-content-header{

            // border-top: 0.312rem solid mat.m2-get-color-from-palette($primary);

        }

    }



    .property-item .title a,

    .compare-item .title a{

        color: mat.m2-get-color-from-palette($foreground, text);

        &:hover{

            color: mat.m2-get-color-from-palette($primary);

        }        

    }

    .features p:after,

    .compare-item .details .item { 

        border-bottom: 0.062rem dotted  mat.m2-get-color-from-palette($foreground, divider); 

    }



    .small-carousel .swiper-slide.active-thumb img{ 

        border-color: mat.m2-get-color-from-palette($primary);

    }

  



    .ps__thumb-y{

        background-color: mat.m2-get-color-from-palette($primary, 900);

    }





    .active-link{

        background-color: mat.m2-get-color-from-palette($primary); 

        color: #fff;

    }

    .horizontal-active-link {

        background: mat.m2-get-color-from-palette($background, hover);

        color: mat.m2-get-color-from-palette($primary); 

    }

    .horizontal-sub-menu{ 

        .mat-button, .mat-menu-item{

            color: mat.m2-get-color-from-palette($foreground, text);

            &.horizontal-active-link { 

                color: mat.m2-get-color-from-palette($primary); 

            }

        }

    }

    

 

    // .section .section-title:after,

    // .section.testimonials .swiper-pagination-bullet-active {        

    //     background-color: mat.m2-get-color-from-palette($primary); 

    // }

     



    .custom-table.mat-table .mat-header-row, 

    .custom-table.mat-table .mat-row {

        border-color: mat.m2-get-color-from-palette($foreground, divider);

    }



    .submit-property .step-section,

    .edit-property .step-section{

        background: rgba(mat.m2-get-color-from-palette($background, background), 0.7);

    }

    .input-file-container .mat-orphan-label{

        color: mat.m2-get-color-from-palette($foreground, text) !important;

    }

 

}
