$font-family: 'Vazir FD';

$theme-max-width: 80.7rem;

$top-toolbar-height: 4rem;

$main-toolbar-height: 4.5rem;

$user-menu-width: 13.75rem;

$header-image-min-height: 20rem; //20.0rem;

$header-carousel-height: 37rem; // 37.5rem;

$header-carousel-width: 80rem;

$main-content-header-offset-to-top: .3rem;// 0.312rem;



$main-sidenav-width: 15.6rem;

$search-sidenav-width: 18rem;
