<div class="section mt-3">
  <div class="px-3">
      <div class="theme-container">
        <h1 class="section-title"> بلاگ جدید</h1>
        <div cdkLayout="row wrap" cdkLayoutAlign="space-between center"  cdkLayout.sm="column"  cdkLayout.xs="column"  class="properties-wrapper" >
          <div *ngFor="let blog of recentBlogs"  cdkLayout.sm="row"  cdkLayout.xs="row" class="item">
            <!-- [cdkFlex]="(viewType=='grid') ? viewCol : 100" -->
              <app-blog-item-home [blog]="blog" [viewType]="viewType" cdkFlex="100" cdkFlex.sm="95" cdkFlex.xs="95" ></app-blog-item-home>
          </div>
      </div>
          
              
      </div>
  </div>   
</div> 