<div >
        <form [formGroup]="form" class="search-wrapper search-padding" [ngClass]="'variant-'+variant">

            <div [fxLayout]="'row wrap'"> 
                <div fxFlex="100" fxFlex.gt-sm="22" fxFlex.sm="50" class="p-2">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>جستجو</mat-label>
                        <input matInput placeholder="متن جستجو" autocomplete="off" formControlName="searchBox">                  
                    </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="22" fxFlex.sm="50" class="p-2">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>نوع فایل</mat-label> 
                        <mat-select placeholder="لطفا نوع فایل را انتخاب کنید" formControlName="fileType">
                            <mat-option *ngFor="let fileType of allFileTypes" [value]="fileType">
                                {{fileType.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="22" fxFlex.sm="50" class="p-2">
                    <mat-form-field  [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>شاخه ها</mat-label>
                        <mat-select placeholder="لطفا شاخه های مورد نظر خود را انتخاب کنید" formControlName="categoriesBox" multiple>
                            <mat-option *ngFor="let category of (categories | async)" [value]="category">
                                {{category.name}}
                            </mat-option>
                        </mat-select>                   
                          
                    </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="22" fxFlex.sm="50" class="p-2">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>تولید کنندگان</mat-label>
                        <mat-select placeholder="لطفا تولید کنندگان مورد نظر خود را از لیست انتخاب کنید" formControlName="brandsBox" multiple>
                            <mat-option *ngFor="let brand of (brands | async)" [value]="brand">
                                {{brand.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div fxFlex="100" fxFlex.gt-sm="12" fxFlex.sm="50" class="p-2">
                    <button  mat-raised-button color="primary" style="margin-top: 0.625rem;" class="search-btn mx-1" (click)="search()"> جستجو <mat-icon>search</mat-icon></button>
                </div>
            </div>        
        </form>
</div>
