<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap">  
  
  <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

      <!-- <div fxLayout="row wrap" class="property-status">
          <span *ngFor="let status of product.propertyStatus" [style.background-color]="getStatusBgColor(status)">{{status}}</span>
      </div> -->
     
      <div fxLayout="row" fxLayoutAlign="space-around center" class="mat-card-image w-100 m-0">
          <img src="https://orchard.kheshtin.ir{{brand.cardImage.urls[0]}}">
      </div>
      
  </div>
  <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

      <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
          <mat-card-content class="mb-0">
            
              <h1 class="title"><a [routerLink]="['/brands', brand.contentItemId,0,1, brand.displayText]" style="color: #5C5B5B; font-size: 1.25rem">{{brand.displayText}}</a></h1>

              <!-- <p fxLayout="row" class="address"> -->
                  <!-- <mat-icon class="text-muted">location_on</mat-icon> -->
                  <!-- <span>{{brand.name}}</span> -->
              <!-- </p> -->

              <!-- <a [routerLink]="['/brands', brand.brandId]" mat-stroked-button color="primary" class="uppercase details-btn">جزئیات</a> -->

              <!-- <div> -->
                
              <!-- </div> -->
          </mat-card-content>
          <div class="sticky-footer-helper" fxFlex="grow"></div>
          <mat-card-actions class="m-0 p-0" fxLayoutAlign="space-between center"> 
              <!-- <p fxLayout="row" class="date mb-0"> -->
                  <!-- <mat-icon class="text-muted">date_range</mat-icon> -->
                  <!-- <span class="mx-2">{{property.published | date:"dd MMMM, yyyy" }}</span> -->
              <!-- </p> -->

              <!-- <div>
                  <a [routerLink]="['/brands', brand.brandId]" mat-stroked-button color="primary" class="uppercase">جزئیات</a>
              </div>  -->
          </mat-card-actions> 
      </div>        
      
  </div> 

</mat-card>