@use '@angular/material' as mat;

@include mat.core();

$grey-primary: mat.define-palette(mat.$blue-grey-palette, 700, 50, 900);

$grey-accent: mat.define-palette(mat.$green-palette, 600, 100, 900);

$grey-warn: mat.define-palette(mat.$red-palette, 500, A200, 800);



$grey-typography: mat.define-typography-config();

$grey-theme: mat.define-light-theme((
 color: (
   primary: $grey-primary,
   accent: $grey-accent,
   warn: $grey-warn
 ),
  typography: $grey-typography,
));