
@use '@angular/material' as mat;

@include mat.core();

$orange-dark-primary: mat.define-palette(mat.$gray-palette, 300, 50, 700);

$orange-dark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$orange-dark-warn: mat.define-palette(mat.$orange-palette, 900, 50, 900);



$orange-dark-typography: mat.define-typography-config();

$orange-dark-theme: mat.define-light-theme((
 color: (
   primary: $orange-dark-primary,
   accent: $orange-dark-accent,
   warn: $orange-dark-warn
 ),
  typography: $orange-dark-typography,
));