<div  class="properties-carousel">   
  <swiper-container class="h-100 carousel-outer" > 
      <div class="swiper-wrapper h-100">      
          <swiper-slide *ngFor="let project of officeProjects" >
              <app-office-project-item [project]="project" [viewType]="viewType" [viewColChanged]="viewCol"></app-office-project-item>                 
          </swiper-slide>
      </div>                      
      <button mat-mini-fab color="primary" class="prop-prev swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-mini-fab color="primary" class="prop-next swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
  </swiper-container>
</div>