<div class="section mt-3">
  <div class="px-3">
      <div class="theme-container">
          <h1 class="section-title mb-3">برند</h1>
          <p class="text-center">لیست شماری از برندهای تولید کننده</p>

          <div class="clients-carousel"> 
              <swiper-container>                  
                      <swiper-slide *ngFor="let brand of brands" >
                          <div class="client-item"> 
                              <img src="https://orchard.kheshtin.ir{{brand.cardImage.urls[0]}}" class="swiper-lazy">
                             
                          </div>
                      </swiper-slide>
                 
              </swiper-container>
          </div>
              
      </div>
  </div>   
</div>