<div class=" mat-elevation-z3" style="background-color: #e0e0e0;">
  <div class="px-3">
      <div class="theme-container">
           <div class="clients-carousel"> 
              <div class="swiper-container h-100" [swiper]="config"> 
                  <div class="swiper-wrapper h-100">      
                      <div *ngFor="let category of (categoryList$ | async)" class="swiper-slide">
                          <div class="client-item" (click)="openSubCategories(category)" (mouseenter)="categoryEnter(category)"   >
                              
                            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" ngClass.xs="pt-5" > 
                                <p fxLayout="row" fxLayoutAlign="start center" class="mt-1" >
                                    <img src="../../assets/categories/{{category.categoryId}}.webp" style="width: 50%;"  class="swiper-lazy">
                                </p>
                                <div class="swiper-lazy-preloader"></div>
                                <p fxLayout="row" fxLayoutAlign="center"  class="mt-1">
                                    <span class="show-title">
                                        {{category.name}}
                                    </span>
                                </p>
                               
                            </div>


                              <!-- <div>
                                <img src="../../assets/categories/{{category.categoryId}}.webp" class="swiper-lazy"> 
                              </div>
                              <div class="swiper-lazy-preloader"></div>
                              <div >
                                  <span class="show-title">
                                    {{category.name}}
                                  </span>
                              </div> -->
                          </div>
                      </div>
                  </div> 
              </div>
          </div>
              
      </div>
  </div>   
</div>