<form [formGroup]="verticalForm" class="search-wrapper" [ngClass]="'variant-'+variant">

  <div [cdkLayout]="(vertical) ? 'column' : 'row wrap'"> 
      <div cdkFlex="100" cdkFlex.gt-sm="100" cdkFlex.sm="50" class="p-2" style="width: 100%">
          <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" style="width: 100%">
              <mat-label>جستجو</mat-label>
              <input matInput placeholder="متن جستجو" autocomplete="off" formControlName="searchBox">                  
          </mat-form-field>
      </div>
      <div *ngIf="showMore" [cdkLayout]="(vertical) ? 'column' : 'row wrap'" class="w-100">
          
          <div cdkFlex="100" cdkFlex.gt-sm="33.3" cdkFlex.sm="50" class="p-2" style="width: 100%">
              <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" style="width: 100%">
                  <mat-label>شاخه ها</mat-label>
                  <mat-select placeholder="لطفا شاخه های مورد نظر خود را انتخاب کنید" (selectionChange)="categoryChanged($event)" formControlName="categories" multiple>
                      <mat-option *ngFor="let category of eventCategories " [value]="category">
                          {{category.name}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              
          </div>
                
      </div>
  </div>
  <!-- <div cdkLayout="row" cdkLayoutAlign="center center" class="p-2">       
    <button mat-raised-button  class="uppercase mx-1 my-btn-1 w-100" (click)="reset()">پاک کردن</button>
    <button *ngIf="!vertical" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">{{(showMore) ? 'انصراف' : 'جستجوی پیشرفته'}}</button>      
      </div>
   -->

</form>
