@import "../../theme/styles/variables";

.header-carousel {
    height: $header-carousel-height;

    .slide-item {
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .swiper-lazy-preloader {
        top: 15%;
    }

    .slide-info {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 2;

        .mat-card {
            text-align: center;
            min-width: 28.125rem;
            transition: 0.4s;
            margin: 0 1.0rem;

            .slide-title {
                font-size: 2.0rem;
                line-height: 2.0rem;
                margin-bottom: 1.0rem;
                text-transform: uppercase;
            }

            .location {
                font-size: 1.125rem;
                font-style: italic;
                margin-bottom: 1.5rem;
                font-weight: 500;
            }

            .price {
                font-size: 1.5rem;
                min-width: 12.5rem;
                padding: 0.5rem 1.0rem;
            }
        }
    }

    &.offset-bottom {
        height: $header-carousel-height + $main-content-header-offset-to-top;

        .slide-info {
            padding-bottom: $main-content-header-offset-to-top;
        }
    }
}

// xs
@media screen and (max-width: 37.438rem) {
    .header-carousel {
        // height: 20.0rem;
        height: $header-carousel-height - 7.5rem;

        &.offset-bottom {
            height: $header-carousel-height + $main-content-header-offset-to-top - 7.5rem;
        }

        .slide-info {
            .mat-card {
                min-width: 15.0rem;

                .slide-title {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    margin-bottom: 1.0rem;
                }

                .location {
                    font-size: 0.875rem;
                    margin-bottom: 1.188rem;
                    align-items: start !important;
                }

                .price {
                    font-size: 0.875rem;
                    min-width: 7.5rem;
                    padding: unset;
                }
            }
        }
    }
}

// sm
@media screen and (min-width: 37.5rem) and (max-width: 59.938rem) {
    .header-carousel {
        // height: 22.5rem;
        height: $header-carousel-height - 5rem;

        &.offset-bottom {
            height: $header-carousel-height + $main-content-header-offset-to-top - 5rem;
        }

        .slide-info {
            .mat-card {
                min-width: 25.0rem;

                .slide-title {
                    font-size: 1.75rem;
                    line-height: 1.75rem;
                    margin-bottom: 1.0rem;
                }

                .location {
                    font-size: 1.0rem;
                    margin-bottom: 1.5rem;
                }

                .price {
                    font-size: 1.25rem;
                    min-width: 10.0rem;
                    padding: 0.25rem 0.75rem;
                }
            }
        }
    }
}