.tab {
  overflow: hidden;
  border: 0.062rem solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 1.0rem;
  transition: 0.3s;
  font-size: 1.062rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.375rem 0.75rem;
  border: 0.062rem solid #ccc;
  border-top: none;
}

.brand-image {
  width: 14rem;
  max-width: 100%;
  max-height: 100%;
}

.side-nav-padding {
  padding-bottom: 1rem;
}

mat-panel-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-expansion-panel-body p {
  text-align: justify;
}

