<form [formGroup]="verticalForm" class="search-wrapper" [ngClass]="'variant-'+variant">

    <div [cdkLayout]="(vertical) ? 'column' : 'row wrap'"> 
        <div cdkFlex="100" cdkFlex.gt-sm="22" cdkFlex.sm="50" class="p-2" style="width: 100%">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()" style="width: 100%">
                <mat-label>جستجو</mat-label>
                <input matInput placeholder="متن جستجو" autocomplete="off" formControlName="searchBox">                  
            </mat-form-field>
        </div>
        <div cdkFlex="100" cdkFlex.gt-sm="22" cdkFlex.sm="50" class="p-2 sidebar-categories-tree-filter-box" style="width: 100%">
            <!-- <mat-form-field *ngIf="!vertical" [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>شاخه ها</mat-label>
                <mat-select placeholder="لطفا شاخه های مورد نظر خود را انتخاب کنید" formControlName="categoriesBox" multiple>
                    <mat-option *ngFor="let category of (categories | async)" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>                   
                  
            </mat-form-field> -->
            <app-categories  (categories)="getCategories($event)" name="categoriesBoxNested" (CategoryChange)="categoryChanged($event)" [selectedIdList]="" formControlName="categoriesBoxNested"></app-categories>
        </div>
        <!-- <div cdkFlex="100" cdkFlex.gt-sm="22" cdkFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>تولید کنندگان</mat-label>
                <mat-select placeholder="لطفا تولید کنندگان مورد نظر خود را از لیست انتخاب کنید" formControlName="brandsBox" multiple>
                    <mat-option *ngFor="let brand of brands" [value]="brand">
                        {{brand.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
       
    </div>
    <!-- <div cdkLayout="row" cdkLayoutAlign="center center" class="p-2">        -->
      <!-- <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">پاک کردن</button> -->
      <!-- <button *ngIf="!vertical" mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">{{(showMore) ? 'انصراف' : 'جستجوی پیشرفته'}}</button>      
       <button  mat-raised-button color="primary" class="search-btn mx-1" (click)="search()"> جستجو <mat-icon>search</mat-icon></button> -->
    <!-- </div> -->
    

</form>
