<div *ngIf="projects" class="properties-carousel">   
  <div class="swiper-container h-100 carousel-outer" > 
      <div class="swiper-wrapper h-100">      
          <div *ngFor="let project of projects" class="swiper-slide">
              <app-project-item [project]="project" [viewType]="'grid'"></app-project-item>                 
          </div>
      </div>                      
      <button mat-mini-fab color="primary" class="prop-prev swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-mini-fab color="primary" class="prop-next swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
  </div>
</div>