<form [formGroup]="editForm" cdkLayout="row wrap">
  <div cdkFlex="100" class="px-2">
    <mat-form-field appearance="outline" class="w-100">
      <mat-icon matPrefix class="mr-1 text-muted">all_inbox</mat-icon>
      <mat-label>نام پروژه</mat-label>
      <input matInput placeholder="نام پروژه" formControlName="projectName" required>
      <mat-error *ngIf="editForm.controls.projectName.errors?.required">نام پروژه الزامی است</mat-error>
    </mat-form-field>
  </div>
  
  <div cdkFlex="100" class="px-2">
    <mat-form-field appearance="outline" class="w-100 mt-1">
      <mat-label>استان</mat-label>
      <mat-select placeholder="انتخاب استان ..." formControlName="province"  (selectionChange)="provinceSelected()" required> 
        <mat-option *ngFor="let province of (provinceList | async)" [value]="province.provinceId">
          {{province.provinceName}}
        </mat-option>
      </mat-select> 
      <mat-error *ngIf="editForm.get('province').errors?.required">انتخاب شهر الزامی است</mat-error>                    
  </mat-form-field>
  </div>
    
    <div cdkFlex="100" class="px-2">
      <mat-form-field appearance="outline" class="w-100 mt-1">
        <mat-label>شهر</mat-label>
        <mat-select placeholder="انتخاب شهر ..." formControlName="cities" >
          <mat-option *ngFor="let city of (cityList | async)" [value]="city.cityId">
            {{city.cityName}}
          </mat-option>
        </mat-select>   
      </mat-form-field>
    </div>
    <div cdkFlex="100" class="px-2">
      <div class="mb-3">
        <input-file placeholder="تصویر" formControlName="projectMainPicture" fileLimit="5" fileAccept="image/*" fileSize="300"></input-file> 
    </div>
    </div>
    <div cdkFlex="100" class="px-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>شاخه ها</mat-label>
        <mat-select placeholder="لطفا شاخه های مورد نظر خود را انتخاب کنید" formControlName="projectCategory" multiple>
            <mat-option *ngFor="let category of (projectCategories | async)" [value]="category.id">
                {{category.categoryName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    
  <div cdkFlex="100" class="px-2">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>وضعیت پروژه</mat-label>
      <mat-select placeholder="لطفا وضعیت پروژه را انتخاب کنید" formControlName="projectDevStatus">
          <mat-option *ngFor="let status of statusList" [value]="status.id" >
              {{status.label}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  </div>
  <div cdkFlex="100" class="p-2">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>توضیحات</mat-label>
        <textarea matInput placeholder="توضیحات" formControlName="projectDescription" required rows="5"></textarea>
        <mat-error *ngIf="editForm.controls.projectDescription.errors?.required">توضیحات پروژه الزامی است</mat-error>
    </mat-form-field>
    </div>
    <div cdkFlex="100" class="p-2">
    <mat-chip-listbox aria-label="Product selection" >
      <mat-chip *ngFor="let product of selectedProducts"
      [removable]="removable"
      (removed)="remove(product)" 
      >{{product.name}}<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon></mat-chip>
    </mat-chip-listbox>
    </div>
    <mat-divider></mat-divider>
    <div cdkFlex="100" class="p-2">
    <button mat-raised-button color="primary" (click)="openDialog()">انتخاب محصول</button>
    <input type="text" style="display: none" name="productList" [(ngModel)]="listOfProducts" formControlName="productList" required>
  </div>
  <div cdkFlex="100" class="p-2">
    <button mat-raised-button color="primary" (click)="saveChanges()">ذخیره</button>
  </div>
</form>
