
<div class="p-3 full-height">
    <div class="theme-container">
  
      <div cdkLayout="row" cdkLayoutAlign="center center" class="my-3">
          <mat-card [style.max-width.px]="600">
            <div cdkLayout="column" cdkLayoutAlign="center center" class="text-center">  
              <h1 class="uppercase">با کلیک بر روی دکمه زیر ایمیل خود را تایید کنید</h1>  
              <button mat-raised-button color="accent" class="uppercase" (click)="navigateToLogin()">
                تایید 
            </button>
            </div>
            
          </mat-card>
      </div> 
  
    </div>
  </div>