
 <app-header-image *ngIf="settings.header == 'image'"
                   [backgroundImage]="'assets/images/carousel/slide-3.jpg'" 
                   [bgImageAnimate]="false" 
                   [contentOffsetToTop]="false" 
                   [desc]="'“Home is where one starts from...” –T.S. Eliot'"
                   [contentMinHeight]="200">
 </app-header-image>
 <app-header-carousel *ngIf="settings.header == 'carousel'" 
 [slides]="slides"
 [pageNumber]="3"
 [contentOffsetToTop]="true">
</app-header-carousel>
 <div class="px-3"> 
     
   <div class="theme-container">  
 
     <mat-sidenav-container class="all-properties mt-3"> 
       <mat-sidenav #sidenav [autoFocus]="false" [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="search-sidenav">         
         <mat-card  class="search-background"> 
           <button fxHide="false" fxHide.gt-xs mat-icon-button (click)="sidenav.toggle()">
               <mat-icon color="accent">close</mat-icon>
           </button>
           <app-projects-search 
               [variant]="settings.searchPanelVariant"
               [vertical]="true"
               [categories]="categoriesBS"
               [searchOnBtnClick]="settings.searchOnBtnClick"              
               [removedSearchField]="removedSearchField" 
               (SearchChange)="searchChanged($event)"
               (SearchClick)="searchClicked()">
           </app-projects-search>
         </mat-card> 
       </mat-sidenav>
 
       <mat-sidenav-content ngClass.gt-sm="distance"> 
 
         <div cdkLayout="row wrap" class="properties-wrapper mt-0">            
            
             <div cdkFlex="100" class="px-2 pb-2 pt-0">                
                 <app-properties-toolbar [showSidenavToggle]="!sidenavOpen"
                                         (SidenavToggle)="sidenav.toggle()"
                                         (ChangeCount)="changeCount($event)"
                                         (ChangeSorting)="changeSorting($event)"
                                         (ChangeViewType)="changeViewType($event)">
                 </app-properties-toolbar>
             </div>
            
             <div cdkFlex="100" cdkLayoutAlign="start start" class="p-2"> 
                 <mat-chip-listbox [ngClass]="(settings.rtl) ? 'ml-2' : 'mr-2'">
                     <mat-chip selected disableRipple="true"  >
                         {{ pagination?.totalItems }} مورد یافته شد
                     </mat-chip> 
                 </mat-chip-listbox>
                 <app-projects-search-results-filters 
                     [searchFields]="searchFields" 
                     (RemoveSearchField)="removeSearchField($event)">
                 </app-projects-search-results-filters>                 
             </div>
 
             <div *ngFor="let project of projects" [cdkFlex]="(viewType=='grid') ? viewCol : 100"  class="item">                         
                 <app-project-item [project]="project"
                                   [viewType]="viewType"
                                   [viewColChanged]="viewCol"
                                   [fullWidthPage]="false">
                 </app-project-item>
             </div>
 
             <div *ngIf="projects?.length == 0" cdkFlex="100" cdkLayoutAlign="center center" [style.min-height.px]="200">                
                 <mat-spinner *ngIf="!message"></mat-spinner>
                 <mat-chip-listbox*ngIf="message">
                     <mat-chip selected disableRipple="true"  class="uppercase ws-nowrap">
                         {{message}}
                     </mat-chip> 
                 </mat-chip-listbox*ngIf=> 
             </div>            
 
             <div *ngIf="projects?.length > 0" cdkFlex="100" cdkLayoutAlign="center center" class="p-2">
                 <mat-paginator [length]="pagination?.totalItems"
                               [pageSize]="pagination?.itemsPerPage"
                               (page)="onPageChange($event)"
                               class="w-100 mat-elevation-z1">
                 </mat-paginator>
             </div>          
          
         </div>
 
         
 
       </mat-sidenav-content>
     </mat-sidenav-container>
 
   </div>
 
 </div>
 
 
 
 <app-brands-carousel></app-brands-carousel>