<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap">  
 
  <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

      <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
          <mat-card-content class="mb-0">
            
              <h1 class="title" style="color: #5C5B5B; font-size: 1.25rem">{{brandReseller.displayText}}</h1>
              <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%"> 
                <div fxFlex="20">
                    <span >آدرس</span>
                    <br/>
                    <span >شهر</span>
                    <br/>
                    <span >تلفن</span>
                </div>                   
                <div fxFlex="80">
                    <span >{{brandReseller.address}}</span>
                    <br/>
                <span >{{brandReseller.city}}</span>
                <br/>
                <span >{{brandReseller.phone}}</span>
                </div>
                
             </div> 

              <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">
                  <div>
                      {{brand.displayText}}
                  </div>
                  <img style="float: none;                  
                  height: 6rem;
                  border-radius: 20px;"
                  src="https://orchard.kheshtin.ir{{brand.ovalImage.urls[0]}}" class="swiper-lazy">
              </div>

             

          </mat-card-content>
          
      </div>        
      
  </div> 

</mat-card>