<!-- NEW -->
<div class="theme-container">
  <div cdkLayout="row wrap">
    <div cdkFlex="20" cdkFlex.gt-xs="20" cdkLayout="column" class="">
        <div id="controls">
            <div class="sidebar-section">
                <!-- --------- Scrollable area ----------- -->
                <div class="scrollable-area">
                  <div id="texture-controls">
                      <div  class="sidebar-section section-first" id="category-section">
                          <div class="section-header">فیلتر محصولات</div>
                        
                          <!-- Producer -->
                          <div class="input-label">تولید کننده</div>
                          <div class="input-row">
                              <div class="pseudo-select menu-toggle app-input psuedo-with-reset" data-target="producer-menu" (click)="this.showProducersDialog = !this.showProducersDialog">
                                  <div class="pseudo-select-text" >انتخاب نشده</div> <!-- *ngIf="searchFields.brandsBox.length === 0" -->
                                  <!-- <div class="pseudo-select-text"> -->
                                      <!--*ngIf="searchFields.brandsBox.length > 0"-->
                                      <!-- {{searchFields.brandsBox[0].name}} -->
                                  <!-- </div> -->
                                  <!-- <div class="circle-thumb" > -->
                                      <!--*ngIf="searchFields.brandsBox.length === 0"-->
                                  <!-- </div> -->
                                  <div class="circle-thumb selected-circle-thumb"
                                      style="background-size:100%; background-repeat: no-repeat; background-image: url('../../assets/brands/small/{{brandId}}.png');"><!--*ngIf="searchFields.brandsBox.length > 0"-->
                                  </div>
                                  <input id="brand-input" type="text" class="hidden-input parameter" data-crop="new" data-regen="true">
                              </div>
                              <div id="reset-producer" data-rotate="0" class="app-icon-button"><!-- (click)="brandChanged(null)" -->
                                  <div class="svg-icon svg-icon-path app-icon">
                                      <svg id="Rotate" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"><path class="cls-1" d="M135.394,62.739a62.665,62.665,0,1,0-.538,37.147"></path><path id="Shape_1_copy" data-name="Shape 1 copy" class="cls-1" d="M148.785,22.881L137.623,64.218"></path><path class="cls-1" d="M95.967,53.142l41.656,11.076"></path></svg>
                                  </div>
                              </div>
                          </div>

                          <!-- Product -->
                          <div class="input-label">محصول</div>
                          <div class="input-row">
                              <div class="pseudo-select menu-toggle app-input psuedo-with-reset" (click)="this.showProductsDialog = !this.showProductsDialog;">
                                  <ng-template [ngIf]="selectedTexture">
                                    <div class="pseudo-select-text">{{selectedTexture.name}}</div>
                                    <div class="circle-thumb selected-circle-thumb"
                                      style="background-size:100%; background-repeat: no-repeat; 
                                      background-image: url('../../assets/products/small/{{selectedTexture.productId}}_11_-1_1_1.png');">
                                    </div>
                                  </ng-template>
                                  <ng-template #elseBlock>
                                    <div class="pseudo-select-text">انتخاب نشده</div>
                                    <div class="circle-thumb selected-circle-thumb" style="background-size:100%; background-repeat: no-repeat;"></div>
                                  </ng-template>
                                  <input id="product-input" type="text" class="hidden-input parameter" data-crop="new" data-regen="true">
                              </div>
                              <div id="reset-product" data-rotate="0" class="app-icon-button"> <!--(click)="categoryChanged(null)"-->
                                  <div class="svg-icon svg-icon-path app-icon" >
                                      <svg id="Rotate" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"><path class="cls-1" d="M135.394,62.739a62.665,62.665,0,1,0-.538,37.147"></path><path id="Shape_1_copy" data-name="Shape 1 copy" class="cls-1" d="M148.785,22.881L137.623,64.218"></path><path class="cls-1" d="M95.967,53.142l41.656,11.076"></path></svg>
                                  </div>                    
                              </div>
                          </div>

                      </div>
                  </div>
              
                  <div class="sidebar-section">
                      <div class="section-header">تنظیمات بندکشی تکسچر</div>
                      
                        <!-- Bonding -->
                        <div class="input-label">نوع بندکشی</div>
                        <div class="input-row">
                            <div class="pseudo-select menu-toggle app-input psuedo-with-reset" (click)="this.showBondingsDialog = !this.showBondingsDialog;" >
                                <!-- <div class="pseudo-select-text">انتخاب نشده</div> -->
                                <div class="pseudo-select-text">
                                    {{selectedOrder}}
                                </div>
                                <!-- <div class="circle-thumb"></div> -->
                                <div class="circle-thumb selected-circle-thumb"
                                    style="background-size:100%; background-repeat: no-repeat; background-image: url('{{textureOrder[selectedOrder].image}}');">
                                </div>
                                <input id="bonding-input" type="text" class="hidden-input parameter" data-crop="new" data-regen="true">
                            </div>
                            <div id="reset-bonding" data-rotate="0" class="app-icon-button"> <!--(click)="categoryChanged(null)"-->
                                <div class="svg-icon svg-icon-path app-icon" >
                                    <svg id="Rotate" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"><path class="cls-1" d="M135.394,62.739a62.665,62.665,0,1,0-.538,37.147"></path><path id="Shape_1_copy" data-name="Shape 1 copy" class="cls-1" d="M148.785,22.881L137.623,64.218"></path><path class="cls-1" d="M95.967,53.142l41.656,11.076"></path></svg>
                                </div>                    
                            </div>
                        </div>

                        <!-- Color -->
                        <div class="input-label">رنگ بندکشی</div>
                        <div class="input-row">
                            <div class="pseudo-select menu-toggle app-input psuedo-with-reset" (click)="this.showBondingColorsDialog = !this.showBondingColorsDialog;" > 
                                <!-- <div class="pseudo-select-text">انتخاب نشده</div> -->
                                <div class="pseudo-select-text bonding-color-text">
                                    {{selectedColor.color}}
                                </div>
                                <!-- <div class="circle-thumb"></div> -->
                                <div class="circle-thumb selected-circle-thumb"
                                    style="background-size:100%; background-repeat: no-repeat;" [style.backgroundColor]="selectedColor.color"> <!-- background-image: url('../../assets/categories/{{searchFields.categoriesBox[0].categoryId}}.webp'); -->
                                </div>
                                <input id="color-input" type="text" class="hidden-input parameter" data-crop="new" data-regen="true">
                            </div>
                            <div id="reset-color" data-rotate="0" class="app-icon-button"> <!--(click)="categoryChanged(null)"-->
                                <div class="svg-icon svg-icon-path app-icon" >
                                    <svg id="Rotate" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"><path class="cls-1" d="M135.394,62.739a62.665,62.665,0,1,0-.538,37.147"></path><path id="Shape_1_copy" data-name="Shape 1 copy" class="cls-1" d="M148.785,22.881L137.623,64.218"></path><path class="cls-1" d="M95.967,53.142l41.656,11.076"></path></svg>
                                </div>                    
                            </div>
                        </div>
                  </div>
                </div>

                <!-- End of scrollable area ------------------------------------- -->
                <div id="control-actions" class="sidebar-section">
                    <div cdkLayout="row" cdkLayoutAlign="space-between center">
                        <div cdkFlex="100" class="menu-toggle control-btn">
                            <a id="">
                                <button class="button2" [disabled]="!authService.loggedIn()" (click)="downloadTexture()">دانلود</button><!-- (click)="newMoodBoard()" -->
                            </a>
                        </div>
                        <!-- <div cdkFlex="45" class="menu-toggle control-btn">
                            <a id="">
                                <button class="button2">ذخیره</button>
                            </a>
                        </div> -->
                    </div>
                    <div id="copyright2">
                        <span>©</span> 1400 خشتین |
                        تمامی حقوق محفوظ است
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <div cdkFlex="80" cdkLayout="column" cdkLayoutAlign="space-between center" class="my-3">
        
        <!-- Texture Preview -->
        <div #screen cdkFlex="100" cdkLayoutAlign="space-around" cdkLayout="row wrap" class="main-image-container">
            <div #screen style="background: url('../../assets/bonding/{{selectedColor.colorId}}.png');" class="main-image-container">
                <img
                src="../../assets/products/big/{{(selectedTexture ? selectedTexture?.productId : productId)}}_11_-1_{{getProductFileId(selectedOrder)}}_{{selectedOrder}}.png"
                class="product-main-image">
            </div>

        </div>

    </div>
  </div>
</div>


<!-- Dialogs -->

<!-- Brand / Producer Menu -->
<div *ngIf="showProducersDialog" class="menu-dialog menu-full active" data-option="pattern" id="producer-menu" >
    <div class="arrow">
        <svg class="diamond" version="1.1" viewBox="0 0 50 100" style="top: 180.528px;">
            <polygon fill="#FFFFFF" points="0,0 50,50 0,100 "></polygon>
        </svg>
    </div>
    <div class="header">
        <div class="menu-title menu-item">انتخاب تولید کننده</div>
        <div class="svg-icon menu-toggle svg-icon-fill icon x-icon app-icon close-menu" (click)="this.showProducersDialog = false">
            <svg id="X" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160">
                <path class="asudbeu" d="M27.2,122.238L122.238,27.2,132.8,37.762,37.762,132.8Z"></path>
                <path id="Rectangle_1_copy" data-name="Rectangle 1 copy" class="asudbeu"
                    d="M37.762,27.2L132.8,122.238,122.238,132.8,27.2,37.762Z"></path>
            </svg>
        </div>
    </div>
    <div class="menu-content">
        <div class="menu-option-container">
            <div class="sidebar-section">
                <div *ngFor="let brand of (brands | async)" class="menu-option" (click)="changeSelectedBrand(brand)">
                    <div class="menu-option-img-container option-img-container dialog-img"
                    [ngClass]="{'option-img-container-selected': searchFields.brandsBox.length > 0 && brand.brandId === searchFields.brandsBox[0].brandId}"
                        style="background-image: url('../../assets/brands/small/{{brand.brandId}}.png');">
                    </div>
                    <div class="menu-option-title">{{brand.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products Menu -->
<div *ngIf="showProductsDialog" class="menu-dialog menu-full active" data-option="pattern" id="products-dialog" >
    <div class="arrow">
        <svg class="diamond" version="1.1" viewBox="0 0 50 100" style="top: 180.528px;">
            <polygon fill="#FFFFFF" points="0,0 50,50 0,100 "></polygon>
        </svg>
    </div>
    <div class="header">
        <div class="menu-title menu-item">انتخاب محصول</div>
        <div class="svg-icon menu-toggle svg-icon-fill icon x-icon app-icon close-menu" (click)="this.showProductsDialog = false">
            <svg id="X" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160">
                <path class="asudbeu" d="M27.2,122.238L122.238,27.2,132.8,37.762,37.762,132.8Z"></path>
                <path id="Rectangle_1_copy" data-name="Rectangle 1 copy" class="asudbeu"
                    d="M37.762,27.2L132.8,122.238,122.238,132.8,27.2,37.762Z"></path>
            </svg>
        </div>
    </div>
    <div class="menu-content">
        <div class="menu-option-container">
            <div class="sidebar-section">
                <div *ngFor="let texture of textureList" (click)="selectTexture(texture)" class="menu-option">
                    <div class="menu-option-img-container option-img-container dialog-img"
                    style="background-size:100%; background-repeat: no-repeat; background-image: url('../../assets/products/small/{{texture.productId}}_11_-1_1_1.png');">
                    <!-- [ngClass]="{'option-img-container-selected': searchFields.materialsBox.length > 0 && material.id === searchFields.materialsBox[0].id}" -->
                    </div>
                    <div class="menu-option-title">{{texture.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bondings Menu -->
<div *ngIf="showBondingsDialog" class="menu-dialog menu-full active" data-option="pattern" id="bondings-dialog" >
    <div class="arrow">
        <svg class="diamond" version="1.1" viewBox="0 0 50 100" style="top: 180.528px;">
            <polygon fill="#FFFFFF" points="0,0 50,50 0,100 "></polygon>
        </svg>
    </div>
    <div class="header">
        <div class="menu-title menu-item">انتخاب نوع بندکشی</div>
        <div class="svg-icon menu-toggle svg-icon-fill icon x-icon app-icon close-menu" (click)="this.showBondingsDialog = false">
            <svg id="X" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160">
                <path class="asudbeu" d="M27.2,122.238L122.238,27.2,132.8,37.762,37.762,132.8Z"></path>
                <path id="Rectangle_1_copy" data-name="Rectangle 1 copy" class="asudbeu"
                    d="M37.762,27.2L132.8,122.238,122.238,132.8,27.2,37.762Z"></path>
            </svg>
        </div>
    </div>
    <div class="menu-content">
        <div class="menu-option-container">
            <div class="sidebar-section">
                <div  *ngFor="let order of textureOrder" (click)="selectOrder(order.orderId)" class="menu-option">
                    <div class="menu-option-img-container option-img-container dialog-img"
                    style="background-size:100%; background-repeat: no-repeat;"
                    [ngStyle]="{'background-image': 'url(' + order.image + ')'}">
                    <!-- [ngClass]="{'option-img-container-selected': searchFields.materialsBox.length > 0 && material.id === searchFields.materialsBox[0].id}" -->
                    </div>
                    <div class="menu-option-title">{{order.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bonding Colors Menu -->
<div *ngIf="showBondingColorsDialog" class="menu-dialog menu-full active" data-option="pattern" id="bonding-colors-dialog" >
    <div class="arrow">
        <svg class="diamond" version="1.1" viewBox="0 0 50 100" style="top: 180.528px;">
            <polygon fill="#FFFFFF" points="0,0 50,50 0,100 "></polygon>
        </svg>
    </div>
    <div class="header">
        <div class="menu-title menu-item">انتخاب رنگ بندکشی</div>
        <div class="svg-icon menu-toggle svg-icon-fill icon x-icon app-icon close-menu" (click)="this.showBondingColorsDialog = false">
            <svg id="X" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160">
                <path class="asudbeu" d="M27.2,122.238L122.238,27.2,132.8,37.762,37.762,132.8Z"></path>
                <path id="Rectangle_1_copy" data-name="Rectangle 1 copy" class="asudbeu"
                    d="M37.762,27.2L132.8,122.238,122.238,132.8,27.2,37.762Z"></path>
            </svg>
        </div>
    </div>
    <div class="menu-content">
        <div class="menu-option-container">
            <div class="sidebar-section">
                <div *ngFor="let color of textureColor" (click)="selectColor(color.colorId)" class="menu-option">
                    <div class="menu-option-img-container option-img-container dialog-img"
                    style="background-size:100%; background-repeat: no-repeat;" [style.backgroundColor]="color.color">
                    <!-- [ngClass]="{'option-img-container-selected': searchFields.materialsBox.length > 0 && material.id === searchFields.materialsBox[0].id}" -->
                    </div>
                    <div class="menu-option-title" [style.backgroundColor]="color.color"></div>
                </div>
            </div>
        </div>
    </div>
</div>
