<nav>
    <div cdkLayout="row wrap" cdkLayoutAlign="center center">

        <!-- <button mat-icon-button (click)="selectPageNumber(1)">
            <mat-icon color="primary">keyboard_double_arrow_right</mat-icon>
            
        </button> -->
      
      
      <button mat-icon-button (click)="previous()" style="color: #5C5B5B; font-size: 1.25rem">
        <mat-icon color="primary" style="color: #5C5B5B; font-size: 1.25rem">keyboard_arrow_right</mat-icon>
        
    </button>
     
      <!-- page numbers -->
      <div >
        <span>
            {{currentPage}}
        </span>
        <span>
            از
        </span>
        <span>
            {{totalPages.length }}
        </span>
    </div>
      <!-- next button -->
      
      <button mat-icon-button (click)="next()" style="color: #5C5B5B; font-size: 1.25rem">
        <mat-icon color="primary" style="color: #5C5B5B; font-size: 1.25rem">keyboard_arrow_left</mat-icon>
        
    </button>
      
        <!-- <button mat-icon-button (click)="selectPageNumber(totalPages.length)">
            <mat-icon color="primary">keyboard_double_arrow_left</mat-icon>
        </button> -->
    </div>
      
  </nav>
