<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap">  
  
  <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

      <!-- <div fxLayout="row wrap" class="property-status">
          <span *ngFor="let status of product.propertyStatus" [style.background-color]="getStatusBgColor(status)">{{status}}</span>
      </div> -->
     
      <div class="mat-card-image w-100 m-0">
        <iframe [src]='designOfficeVideo.designOfficeVideoLink.url | safeHtml' frameborder="0" allowfullscreen></iframe>
      </div>

  </div>
  <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

      <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
          <mat-card-content class="mb-0">
            
              <h1 class="title">{{designOfficeVideo.displayText}}</h1>

              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                      {{designOffice.displayText}}
                  </div>
                  <img style="float: none;
                  width: 145px;
                  height: 40px;
                  border-radius: 20px;"
                  src="https://orchard.kheshtin.ir{{designOffice.logo.urls[0]}}" class="swiper-lazy">
              </div>

             

          </mat-card-content>
          
      </div>        
      
  </div> 

</mat-card>