<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" cdkLayout="row wrap">  
  
  <div cdkFlex="100" fxShrink="3" [cdkFlex.gt-sm]="(viewType=='list') ? 40 : 100" [cdkFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

      <!-- <div cdkLayout="row wrap" class="property-status">
          <span *ngFor="let status of product.propertyStatus" [style.background-color]="getStatusBgColor(status)">{{status}}</span>
      </div> -->
     
      <div class="mat-card-image w-100 m-0">
          <img src="../../assets/moodBoards/big/{{moodBoard.moodBoardId + '.png'}}">
      </div>
      

      

  </div>
  <div cdkFlex="100" [cdkFlex.gt-sm]="(viewType=='list') ? 60 : 100" [cdkFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

      <div cdkLayout="column" cdkLayoutAlign="start stretch" class="h-100">
          <mat-card-content class="mb-0">
            
              <h1 class="title"><a [routerLink]="['/moodboard', moodBoard.displayId, moodBoard.urlTitle]">{{moodBoard.moodBoardName}}</a></h1>

              
          </mat-card-content>
          <div class="sticky-footer-helper" cdkFlex="grow"></div>
          <mat-card-actions class="m-0 p-0" cdkLayoutAlign="space-between center" *ngIf="authService.loggedIn() && +authService.getDecodedToken().nameid === moodBoard.createUserId"> 
              
              <div>
                  <a [routerLink]="['/designmoodboard', moodBoard.moodBoardId]" mat-stroked-button color="primary" class="uppercase"><mat-icon class="text-muted">edit</mat-icon></a>
              </div> 
          </mat-card-actions> 
      </div>        
      
  </div> 

</mat-card>