<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" fxLayout="row wrap">  
  
  <div fxFlex="100" fxShrink="3" [fxFlex.gt-sm]="(viewType=='list') ? 40 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

      <!-- <div fxLayout="row wrap" class="property-status">
          <span *ngFor="let status of product.propertyStatus" [style.background-color]="getStatusBgColor(status)">{{status}}</span>
      </div> -->
     
      <div class="mat-card-image w-100 m-0">
          <img src="../../assets/moodBoards/big/{{moodBoard.moodBoardId + '.png'}}">
      </div>
      

      

  </div>
  <div fxFlex="100" [fxFlex.gt-sm]="(viewType=='list') ? 60 : 100" [fxFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

      <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
          <mat-card-content class="mb-0">
            
              <h1 class="title"><a [routerLink]="['/moodboard', moodBoard.displayId, moodBoard.urlTitle]">{{moodBoard.moodBoardName}}</a></h1>

              
          </mat-card-content>
          <div class="sticky-footer-helper" fxFlex="grow"></div>
          <mat-card-actions class="m-0 p-0" fxLayoutAlign="space-between center" *ngIf="authService.loggedIn() && +authService.getDecodedToken().nameid === moodBoard.createUserId"> 
              
              <div>
                  <a [routerLink]="['/designmoodboard', moodBoard.moodBoardId]" mat-stroked-button color="primary" class="uppercase"><mat-icon class="text-muted">edit</mat-icon></a>
              </div> 
          </mat-card-actions> 
      </div>        
      
  </div> 

</mat-card>