<div class="header-carousel" [class.offset-bottom]="contentOffsetToTop" >
    <div *ngIf="slides?.length > 1"  class="swiper-container h-100" [index]="pageNumber" [swiper]="config" (indexChange)="onIndexChange($event)">
        <div class="swiper-wrapper h-100">      
            <div *ngFor="let slide of slides| fileType: 3; let ind = index" class="swiper-slide">               
                <div  [attr.data-background]="'../../assets/products/big/' + slide.productId + '_3_-1_' + slide.productFileId + '_0.jpg'" class="slide-item swiper-lazy">
                    
                </div>
                <div cdkLayout="column" cdkLayoutAlign="center center" class="slide-info" [dir]="(settings.rtl) ? 'rtl' : 'ltr'">
                    <!-- The box inside slider -->
                    <!-- <mat-card class="p-4">
                        <h1 class="slide-title">{{currentSlide?.imageTitle}}</h1>
                    </mat-card>   -->
                </div>
                <div class="control-icons" *ngIf="authService.loggedIn()">
                    <a mat-button  matTooltip="تکسچر ها" href="../../assets/products/big/{{slide.productId + '_3_-1_' + slide.productFileId + '_0.rar'}}">
                        <mat-icon class="mat-icon-sm">get_app</mat-icon>
                    </a>
                </div>
            </div>
        </div>     
        <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
      
         
    </div>
</div>