<mat-card class="property-item p-0" [ngClass]="[viewType + '-item', 'column-'+column]" [class.full-width-page]="fullWidthPage" cdkLayout="row wrap">  
  
  <div cdkFlex="100" fxShrink="3" [cdkFlex.gt-sm]="(viewType=='list') ? 40 : 100" [cdkFlex.sm]="(viewType=='list') ? 50 : 100" class="thumbnail-section">

      <!-- <div cdkLayout="row wrap" class="property-status">
          <span *ngFor="let status of product.propertyStatus" [style.background-color]="getStatusBgColor(status)">{{status}}</span>
      </div> -->
     
      <div class="mat-card-image m-0" cdkLayout="column" cdkLayoutAlign="center center" >
          <img src="https://orchard.kheshtin.ir{{designOffice.logo.urls[0]}}">
      </div>
      
  </div>
  <hr style="margin-left: 0.5rem;margin-right: 0.5rem;"/>
  <div cdkFlex="100" [cdkFlex.gt-sm]="(viewType=='list') ? 60 : 100" [cdkFlex.sm]="(viewType=='list') ? 50 : 100" class="p-3">

      <div cdkLayout="column" cdkLayoutAlign="start stretch" class="h-100">
          <mat-card-content class="mb-0">
            
              <h1 class="title"><a [routerLink]="['/designoffices', designOffice.contentItemId, 0, 1, designOffice.displayText ]" style="color: #5C5B5B; font-size: 1.25rem">{{designOffice.displayText}}</a></h1>

              <!-- <p cdkLayout="row" class="address"> -->
                  <!-- <mat-icon class="text-muted">location_on</mat-icon> -->
                  <!-- <span>{{designOffice.name}}</span> -->
              <!-- </p> -->
          </mat-card-content>
          <div class="sticky-footer-helper" cdkFlex="grow"></div>
          <!-- <mat-card-actions class="m-0 p-0" cdkLayoutAlign="space-between center"> 
              <p cdkLayout="row" class="date mb-0">
                  <mat-icon class="text-muted">date_range</mat-icon>
                 
              </p>
              <div>
                  <a [routerLink]="['/designoffices', designOffice.officeId]" mat-stroked-button color="primary" class="uppercase">جزئیات</a>
              </div> 
          </mat-card-actions>  -->
      </div>        
      
  </div> 

</mat-card>