.agent-wrapper{

    // margin: 0 -2.0rem;

    // padding: 0 1.0rem;  

    margin: -1.5rem !important;  

    img{

        border-radius: 0.25rem;

    }

    .listed-count{

        font-weight: 600;

        min-width: 1.5rem;

    }

}
